<th:block th:fragment="footer">
    <!-- Footer Start -->
    <div
       class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn"
       data-wow-delay="0.1s">
       <div class="container py-5">
          <div class="row g-5">
             <div class="col-lg-5 col-md-6 ms-4">
                <h5 class="text-white mb-4">Get In Touch</h5>
                <p class="mb-2">
                   <i class="fa fa-map-marker-alt me-3"></i>(멀티캠퍼스)서울특별시 강남구 언주로 508 (우)06152
                </p>
                <p class="mb-2">
                   <i class="fa fa-phone-alt me-3"></i>1544-9001(멀티캠퍼스)
                </p>
                <p class="mb-2">
                   <i class="fa fa-envelope me-3"></i>박부건 : bb2pak@naver.com<br>
                   <i class="fa fa-envelope me-3"></i>신유진 : jinjin@google.com
                </p>
                <div class="d-flex pt-2">
                   <a class="btn btn-outline-light btn-social" href=""><i
                      class="fab fa-twitter"></i></a> <a
                      class="btn btn-outline-light btn-social" href=""><i
                      class="fab fa-facebook-f"></i></a> <a
                      class="btn btn-outline-light btn-social" href=""><i
                      class="fab fa-youtube"></i></a> <a
                      class="btn btn-outline-light btn-social" href=""><i
                      class="fab fa-linkedin-in"></i></a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6">
                <h5 class="text-white mb-4">Quick Links</h5>
                <a class="btn btn-link text-white-50" href="">About Us</a> <a
                   class="btn btn-link text-white-50" href="">Contact Us</a> <a
                   class="btn btn-link text-white-50" href="">Our Services</a> <a
                   class="btn btn-link text-white-50" href="">Privacy Policy</a>
             </div>

          </div>
       </div>
       <div class="container">
          <div class="copyright">
             <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                   &copy; <a class="border-bottom" href="#">Local Router</a>, All Right Reserved.

                   <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                   Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                   <div class="footer-menu">
                      <a href="/">Home</a> <a href="">Help</a> <a href="">FQAs</a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- Footer End -->

</th:block>