<th:block th:fragment="footer_link">
	 <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/weatherstory/site/lib/wow/wow.min.js"></script>
    <script src="/weatherstory/site/lib/easing/easing.min.js"></script>
    <script src="/weatherstory/site/lib/waypoints/waypoints.min.js"></script>
    <script src="/weatherstory/site/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/weatherstory/site/js/main.js"></script>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/weatherstory/site/js/lib.js"></script>
    <script src="/weatherstory/site/js/lib_header.js"></script>
    <script src="/weatherstory/site/js/lib_update.js"></script>
</th:block>