<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.weatherstory.model.member.MemberDAO">

	<insert id="insert" parameterType="Member">
		insert into member(uid, nickname, sns_idx, role_idx)
		values(#{uid}, #{nickname}, #{sns.sns_idx}, #{role.role_idx})
		
		<selectKey keyColumn="member_idx" keyProperty="member_idx" resultType="int" order="AFTER">
			select last_insert_id() as member_idx
		</selectKey>
	</insert>
	
	<resultMap type="Member" id="MemberMap">
		<id column="member_idx" property="member_idx"/>
		<result column="uid" property="uid"/>
		<result column="nickname" property="nickname"/>
		
		<association column="sns_idx" property="sns"
			javaType="Sns" select="com.sds.weatherstory.model.member.SnsDAO.select"/>
		<association column="role_idx"  property="role"
			javaType="Role" select="com.sds.weatherstory.model.member.RoleDAO.select"/>
		<association column="member_idx" property="memberDetail" 
			javaType="MemberDetail" select="com.sds.weatherstory.model.member.MemberDetailDAO.selectByMemberIdx"/>
		
	</resultMap>
	
	<select id="login" parameterType="Member" resultMap="MemberMap">
		select m.member_idx as member_idx, uid, password, nickname, sns_idx,
		roadAddress, sido, sidoEnglish, role_idx, sns_idx, food_favorite_idx, food_hate_idx
		from member m, member_detail d
		where m.member_idx=d.member_idx
		and uid=#{uid} and password=#{memberDetail.password}
	</select>
	
	<select id="selectByUid" parameterType="String" resultMap="MemberMap">
		select member_idx, uid, nickname, sns_idx, role_idx from member where uid=#{uid}
	</select>
	
	<select id="selectAllByUid" parameterType="String" resultMap="MemberMap">
		select m.member_idx as member_idx, uid, password, nickname, sns_idx, role_idx, roadAddress,
		sido, sidoEnglish, dong, food_favorite_idx, food_hate_idx
		from member m, member_detail d
		where m.member_idx=d.member_idx
		and uid=#{uid}
	</select>
	
	<select id="selectByMemberIdx" parameterType="int" resultMap="MemberMap">
		select member_idx, uid, nickname, sns_idx, role_idx from member where member_idx=#{member_idx}
	</select>
	
	<update id="updateNickname" parameterType="MemberUpdate">
		update member
		set nickname=#{nickname}
		where member_idx=#{member_idx}
	</update>
</mapper>