<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.weatherstory.model.member.MemberDetailDAO">

	<insert id="insert" parameterType="MemberDetail">
		insert into member_detail(password, member_idx, roadAddress, sido, sidoEnglish, dong, food_favorite_idx, food_hate_idx)
		values(#{password}, #{member.member_idx} ,
		#{roadAddress}, #{sido}, #{sidoEnglish}, #{dong}, #{favoriteFood.food_idx}, #{hateFood.food_idx})
	</insert>
	
	<resultMap type="MemberDetail" id="MemberDetailMap">
		<id column="member_detail_idx" property="member_detail_idx"/>
		
		<association column="food_favorite_idx" property="favoriteFood"
			javaType="Food" select="com.sds.weatherstory.model.food.FoodDAO.selectByFoodIdx"/>
		<association column="food_hate_idx" property="hateFood"
			javaType="Food" select="com.sds.weatherstory.model.food.FoodDAO.selectByFoodIdx"/>
	</resultMap>
	
	
	<select id="selectByMemberIdx" parameterType="int" resultType="MemberDetail">
		select member_detail_idx, password, roadAddress, sido, sidoEnglish, dong from member_detail where member_idx=#{member_idx}
	</select>
</mapper>