<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.weatherstory.model.member.RoleDAO">
	
	<select id="selectByName" parameterType="String" resultType="Role">
		select * from role where role_name=#{role_name}
	</select>
	
	<select id="select" parameterType="int" resultType="Role">
		select * from role where role_idx=#{role_idx}
	</select>
</mapper>